@use '../../styles/abstracts/' as *;

.header {
	width: 85vw;
	display: grid;
	gap: none;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr;
	grid-template-areas: 'logobox navbox';
	padding: 0.5rem 0 1rem 0;
	border-bottom: 0.5rem solid $border-color;
	border-radius: 0.5rem;
	margin: 1rem 0;
}

.logobox {
	display: flex;
	align-items: center;
	justify-content: center;
}

.navbox {
	display: flex;
	align-items: flex-start;
	justify-content: flex-end;
}

.logo {
	width: 80%;
}
