@use '../../styles/abstracts/' as *;

.aside {
	display: flex;
	flex-flow: column;
	background-image: linear-gradient(to top left, $var1-color, $main-color);
	border-bottom: $main-color solid 0.5rem;
	text-align: center;
	border-radius: 0.7rem;
	align-items: center;
}

.aside section {
	margin: 2rem 0 0 0;
	padding: 1rem 0;
	border-top: $border-color solid 0.5rem;
	border-bottom: $border-color solid 0.5rem;
	border-radius: 0.7rem;
	width: 90%;
	font-size: 2rem;
	font-weight: 600;
	text-transform: capitalize;
}

.aside h3 {
	font-size: 2.5rem;
	font-weight: 700;
	text-decoration: underline;
}

.aside img {
	max-width: 80%;
}

.aside p,
.aside a {
	color: $default-font-color;
	text-decoration: none;
	font-size: 1.8rem;
}
